.tickets {
    width: 70%;
    margin: auto;

}

body{
    background-color: aqua;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container {
    width: 400px;
    height: 150px;
    display: flex;
}
.col1{
    display: flex;
    flex-direction: column;
    width: 7.5%;
}
.col2{
    width: 85%;
    background: linear-gradient(to right, #adadad, #7a7a7a);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    z-index: 1;
}


.radius1 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 10px 0 0 10px #adadad;
    border-left: none;
    height: 33.3%;
    z-index: 0;
}
.radius2 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: -10px 0 0 10px #7a7a7a;
    border-right: none;
    height: 33.3%;
    z-index: 0;
}

.b1{
    border: 1px solid #fff;
    border-right: none;
    border-bottom: none;
    background-color: #adadad;
    height: 33.3%;
}

.b2{
    border-top: 1px solid #fff;
    height: 33.3%;
}

.b3{
    border: 1px solid #fff;
    border-right: none;
    border-top: none;
    background-color: #adadad;
    height: 33.3%;
}

.b5{
    background-color: #7a7a7a;
    height: 33.3%;
    border: 1px solid #fff;
    border-left: none;
    border-bottom: none;
}

.b6{
    border: 1px solid #fff;
    border-right: none;
    border-top: none;
    background-color: #adadad;
    height: 33.3%;
}
.b7{
    
    background-color: #7a7a7a;
    border: 1px solid #fff;
    border-top: none;
    border-left: none;
    height: 33.3%;
}

.box-item {
    z-index: 1;
}




